<nb-card>
  <nb-card-header>{{ title }}</nb-card-header>

  <nb-card-body [formGroup]="form" class="flex flex-col">
    <input
      nbInput
      formControlName="title"
      type="text"
      placeholder="Title"
      class="mb-2"
    />

    <textarea
      nbInput
      formControlName="description"
      type="text"
      placeholder="Description"
      class="mb-2"
    ></textarea>

    <nb-select placeholder="Priority" formControlName="priority" class="mb-2">
      <nb-option *ngFor="let priority of priorities" [value]="priority.value">
        {{ priority.label }}
      </nb-option>
    </nb-select>

    <nb-select placeholder="Status" formControlName="status">
      <nb-option *ngFor="let status of statuses" [value]="status.value">
        {{ status.label }}
      </nb-option>
    </nb-select>
  </nb-card-body>

  <nb-card-footer class="flex justify-end">
    <button
      nbButton
      size="small"
      status="primary"
      class="mr-2"
      (click)="save()"
    >
      Save
    </button>
    <button nbButton size="small" (click)="cancel()">Cancel</button>
  </nb-card-footer>
</nb-card>
