@mixin tk-chip() {
  tk-chip {
    border-radius: nb-theme(chip-border-radius);
    font-family: nb-theme(chip-text-font-family);
    font-size: nb-theme(chip-text-font-size);
    font-weight: nb-theme(chip-text-font-weight);
    line-height: nb-theme(chip-text-line-height);
    padding: nb-theme(chip-padding);
  }

  @each $status in nb-get-statuses() {
    tk-chip.status-#{$status} {
      color: nb-theme(chip-#{$status}-text-color);
      background-color: nb-theme(chip-#{$status}-background-color);
    }
  }
}
