<nb-card>
  <nb-card-header class="flex justify-between">
    <nb-checkbox
      [checked]="allSelected"
      [indeterminate]="someSelected"
      (checkedChange)="setAll.emit($event)"
    ></nb-checkbox>
    <button
      *ngIf="!someSelected && !allSelected"
      nbButton
      status="primary"
      size="small"
      (click)="createTicketClicked()"
    >
      Create
    </button>
    <div *ngIf="someSelected || allSelected">
      <button
        nbButton
        size="small"
        class="mr-2"
        (click)="completeSelected.emit()"
      >
        Complete
      </button>
      <button
        nbButton
        status="danger"
        size="small"
        (click)="deleteSelected.emit()"
      >
        <nb-icon icon="trash-2-outline"></nb-icon>
      </button>
    </div>
  </nb-card-header>
  <nb-list-item *ngFor="let ticket of tickets">
    <tk-ticket
      [ticket]="ticket"
      (selectedChange)="selectChanged($event)"
      (editTicket)="editTicket.emit(ticket)"
    ></tk-ticket>
  </nb-list-item>
</nb-card>
